.itemmentor {
    margin: 2.5rem 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #9CA3AF;
    background-color: #fff;

    .container {
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        gap: 10px;

        .columnLeft {
            grid-column: span 2 / span 2;
            // background-color: #fff;

            .subColumnLeft {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 100%;

                .images {
                    position: relative;
                    width: 100%;
                    height: 220px;
                }

                .salary {
                    color: #172E59;
                    text-align: center;

                    .money {
                        font-size: 1.875rem;
                        font-weight: 900;
                    }

                    .smalltext {
                        font-size: 1.125rem;
                        font-weight: 700;
                    }
                }
            }
        }

        .columnMiddle {
            grid-column: span 5 / span 5;

            .subColumnMiddle {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                .name {
                    font-size: 1.5rem;
                    color: #172E59;
                    font-weight: 700;

                    sub {
                        margin-left: 0.5rem;
                    }
                }

                .star {
                    background-color: #08C3A8;
                    text-align: center;
                    width: 8rem;
                    height: 2rem;
                    line-height: 2rem;
                    font-weight: 700;
                    color: #fff;
                    font-size: 0.875rem;
                    border-radius: 1.5rem;
                }
            }

            .place {
                font-size: 1rem;
                color: #172E59;

                .work {
                    color: #172E59;
                    font-weight: 700;
                }
            }

            .experience {
                color: #128A7A;
                font-weight: 500;
                margin: 0.5rem 0;
            }

            .review {
                >.star {
                    color: #FF8433;
                }
            }

            .description {
                font-size: 0.875rem;
                margin: 0.5rem 0;
                color: #4a4a4a;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .job {
                    background-color: #E5E7EB;
                    padding: 0.25rem 1rem;
                    margin-right: 0.125rem;
                    border-radius: 1.5rem;
                    font-weight: 600;
                    color: #172E59;
                    font-size: 0.875rem;

                    &:hover {
                        background-color: #9CA3AF;
                    }
                }
            }

            .viewProfile {
                display: flex;
                gap: 10px;
                margin-top: 3rem;

                >.btn {
                    background-color: #172E59;
                    padding: 0.5rem 2rem;
                    font-weight: 700;
                    color: #fff;
                    font-size: 0.875rem;
                    cursor: pointer;
                    border-radius: 0.375rem;
                }
            }
        }

        .columnRight {
            grid-column: span 3 / span 3;
            border-left: 2px solid #9CA3AF;
            padding: 0 1rem;
            min-height: 100%;
            // background-color: #fff;

            .useTrial {
                display: flex;
                justify-content: flex-end;
                height: 10%;

                .text {
                    background-color: #E5E7EB;
                    width: 150px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    border-radius: 1.5rem;
                    color: #172E59;
                    font-weight: 600;
                    font-size: 0.875rem;

                    &:hover {
                        background-color: #9CA3AF;
                    }
                }

            }

            .content {
                height: 90%;
                color: #172E59;

                >.question {
                    font-weight: 600;
                    font-size: 0.875rem;
                }
            }

            .line {
                border: 1px solid #9CA3AF;
                margin: 0.5rem 0;
            }
        }
    }
}

@media (max-width:640px) {
    .itemmentor {
        .container {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .columnRight {
                display: none;
            }
        }
    }
}