.listcategory {
    position: absolute;
    top: 100%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    width: 15rem;
    opacity: 0;
    &.active{
        opacity: 1;
    }
    li {
        list-style-type: none;
        a {
            text-decoration: none;
            display: block;
            margin: 0.5rem 0;
            font-size: 0.875rem;
            padding: 0.25rem 1rem;
            &:hover{
                background-color: #f3f4f6;
            }
        }
        .active{
            font-weight: 700;
        }
    }
}