.navbar {
    height: 4rem;
    line-height: 4rem;
    position: relative;
    
    .container {
        .logo {
            position: absolute;
            top: 0.5rem;
        }

        .menu {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            li {
                list-style-type: none;

                a {
                    font-weight: 700;
                    font-size: 0.875rem;
                    margin-right: 15px;
                }
            }
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn {
                background-color: #dcfce7;
                color: #16a34a;
                font-weight: 600;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                border: none;
                cursor: pointer;
            }

            .btnLogin {
                font-weight: 700;
                color: #000;
                margin-left: 20px;
                cursor: pointer;
            }
        }

        .subnav {
            position: absolute;
            top: 3rem;
            width: 100%;
            background-color: #e5e7eb;
            z-index: 1;

            .list {
                li {
                    list-style-type: none;
                    border-bottom: 2px solid #d1d5db;

                    a {
                        font-size: 0.875rem;
                        font-weight: 700;
                        color: #363f54;
                    }
                }
            }

            .btns {
                padding: 0.5rem 0;

                .btn {
                    background-color: #dcfce7;
                    color: #16a34a;
                    font-weight: 600;
                    font-size: 1rem;
                    width: 100%;
                    height: 3rem;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                }

                .btnLogin {
                    border-top: 2px solid #d1d5db;
                    font-size: 0.875rem;
                    font-weight: 700;
                }
            }
        }

        .burgers {
            font-size: 2rem;
            color: #000;
        }
    }
}

@media (max-width: 640px) {
    .navbar {

        .container {
            .menu {
                opacity: 0;
            }

            .right {
                opacity: 0;
            }

            .burgers {
                opacity: 1;
                font-size: 1rem;
                position: absolute;
                right: 0;
                top: 0;
            }

        }
    }
}

@media (min-width: 1024px) {
    .navbar {

        .container {
            .burgers {
                display: none;
            }

        }
    }
}